img{
    width: 4rem;
    height: 4rem;
    border-radius: 20%;
    object-fit: cover;

}

div{
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  

}

button{
    padding: 10px 20px;
    background-color: rgb(206, 209, 200);
    color: rgb(255, 254, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

button:hover{
    background-color: rgb(182, 202, 132);
}
