p {
    margin:1rem;
    color: rgb(43, 58, 14);
    font-size: larger;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    

}
